---
layout: subpage
title: Ja a šach
---

<h1 style="width: 60%;">{{ page.title }}</h1>

<div>
	
	<div class="content" >
		<img src="/images/sach.jpg" style="float:right; width:200px;">
		<p>
		Medzi moje záľuby už niekoľko rokov patrí šach. Hrám ho závodne za klub ŠK Skalica 
a v minulosti som sa mu venoval aj ako tréner mládeže na niekoľkých bratislavských školách. 
Môj aktuálny rating je 1979F. Túto sezónu hrám za svoj tím dve prebiehajúce ligové súťaže: 
<i>2.liga A</i> a <i>3.liga A2</i>. Priebežné tabulky poradia sú k dispozícii nižšie na tejto stránke. 
		</p>
	</div>
	
	<h3> Nedávne partie </h3>
	{% assign sortedgames = (site.chessgames | sort: 'date' | reverse) %}
	{% for game in sortedgames %}

	<div class = "game" {% cycle 'style = "background-color:#CEE6F3;"', '' %}> 
	  <div class = "details"> 
	  
			<div class ="updetails">
				<div class="date">{{game.date | date: "%d.%m.%Y"}}</div>
				<div class="tournament">{% if game.tournament %} {{game.tournament}} {% endif %}</div>
				<br>
			</div>
			
			<div class ="downdetails">
				<div class="wname"> <b>{{ game.white }} </b></div>
				<div class="welo">{{ game.whiteElo | append:')' | prepend:'('}} </div>
				<div class="result"><b>{{ game.result | replace: '1/2','½'}}  </b> </div>
				<div class="bname"><b>{{ game.black }}  </b> </div>
				<div class="belo">{{ game.blackElo | append:')' | prepend:'('}}</div>
			</div>
			
	  </div>
	  <div class = "gameabout"> 
		{{game.content}}
	  </div>
	</div>

	{% endfor %}
	
	<h3 style="margin: 0;"> Tabuľky </h3>
	<div class="tables">
	
	<div> 
		<div class="tablename">2. liga A </div>
		{% include table2league.html %} 
	</div>
	
	<div> 
		<div class="tablename">3. liga A2 </div>
		{% include table3league.html %} 
	</div>
	 </div>
</div>