<nav class="mainmenu">
				<ul class="mainmenu">
					<li class="dropdown">
					  <button class="dropbtn" id = "first"><a href="/">Home</a></button>
					</li>
					<li class="dropdown">
					  <button class="dropbtn">IT profil</button>
					  <ul class="dropdown-content">
						<li><a href="/bp">Bakalársky projekt</a></li>
						<li><a href="/wp">Webové publikovanie</a></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <button class="dropbtn">Moje hobby</button>
					  <ul class="dropdown-content">
						<li><a href="/sach">Šach</a></li>
						<li><a href="/tts">TTS</a></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <button class="dropbtn"><a href="/kontakt">Kontakt</a></button>
					</li>
					
				</ul>
			</nav>