---
layout: default
title: Aplikácia ovládaná mysľou
---
	<h1>{{ page.title }}</h1>

	<h2>Aktuálne</h2>
<p> {{page.content}} </p>
	
	<h2>Čomu sa venujem</h2>
	<div style ="display:inline-block;">
	<div style="float:right">
		<p> Zariadenie Emotiv Epoc</p>
		<img src="/images/epoc.png" >
	</div>
	<p>
		Elektroencefalografia (EEG) je relatívne nová technika snímania elektrických signálov z mozgu.
Cieľom mojej práce je vytvoriť metódu na spracovanie a klasifikáciu EEG signálu. 
Najviac sa zameriavam na výber elektród, v tejto oblasti som sa vybral cestou kombinácie genetického algoritmu a lineárnej
diskriminačnej analýzy na určenie ich optimálnej podmnožiny. Pri vývoji metódy som použil štandardný 
voľne dostupný dataset. Výstupom práce bude implementácia P300 hláskovača ako Java aplikácie a implementácia 
metódy spracovania signálu v Pythone.
</p>

<h2>Dokončené časti</h2>
<p> 
	<ul>
		<li>LDA Klasifikátor</li>
		<li>Predspracovanie</li>
		<li>Selekcia elektród pomocou kombinácie GA a LDA</li>
		<li>Speller java aplikácia</li>
	</ul>
</p>

</div>