---
layout: default
---

<h1>{{ page.title }}</h1>
<div>
	
	<div class="content" style ="display:inline-block;">
		<img src="/images/sach.jpg" style="float:right">
		<p>
		{{page.content}}
		</p>
	</div>
	
	<h3> Nedávne partie </h3>
	{% assign sortedgames = (site.chessgames | sort: 'date' | reverse) %}
	{% for game in sortedgames %}

	<div class = "game" {% cycle 'style = "background-color:#CEE6F3;"', '' %}> 
	  <div class = "details"> 
	  
			<div class ="updetails">
				<div class="date">{{game.date | date: "%d.%m.%Y"}}</div>
				<div class="tournament">{% if game.tournament %} {{game.tournament}} {% endif %}</div>
				<br>
			</div>
			
			<div class ="downdetails">
				<div class="wname"> <b>{{ game.white }} </b></div>
				<div class="welo">{{ game.whiteElo | append:')' | prepend:'('}} </div>
				<div class="result"><b>{{ game.result | replace: '1/2','½'}}  </b> </div>
				<div class="bname"><b>{{ game.black }}  </b> </div>
				<div class="belo">{{ game.blackElo | append:')' | prepend:'('}}</div>
			</div>
			
	  </div>
	  <div class = "gameabout"> 
		{{game.content}}
	  </div>
	</div>

	{% endfor %}
	
	<h3 style="margin: 0;"> Tabuľky </h3>
	<div class="tables">
	
	<div> 2. liga A {% include table2league.html %} </div>
	<div> 3. liga A2 {% include table3league.html %} </div>
	 </div>
</div>