<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include table.css %}
		</head>
		<body>
			
			{% include menu.html %}
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
	    		<ul>
					© 2016
	        		<li><a href="https://www.facebook.com/patrik.m.berger">
					<img src="https://osiprodweuodcspstoa01.blob.core.windows.net/en-us/media/e943ecc8-5be2-4768-a17e-1b829b908afe.gif">
					Patrik Berger</a></li>
	        		<li><a href="https://github.com/bergiSK">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
