---
layout: subpage
title: This Time Seriously
---
	<div class = "wrap"> <h1 style="width: 60%;">{{ page.title }}</h1> 
	
	{% if page.content != null %} <h2 style="width: 60%;"> Aktuálne </h2> 
		<div class="content" style="width: 60%;">
			<p>
				Momentálne sa tím pripravuje na blížiaci sa Y-games Winter Challenge 2016, ktorý sa uskutoční 16.-17.4 v budove
FIIT STU v Bratislave. Očakáva sa rekordná účasť tímov. 
			</p>
		</div>
	{% endif %}
	
<div>
	<h2> Kto sme? </h2>
	<p     style="border-bottom: #333 solid 1px; padding-bottom:15px;">
		V marci roku 2014 sme s niekoľkými priateľmi založili herný tím This Time Seriously venujúci sa známej online hre
	League of Legends. Na začiatku sme boli len traja. Ja a kamaráti Milan a David sme postupne okolo seba poskladali 
	v súčasnosti vyše 20 člennú hernú organizáciu. Minulý rok sme zrekonštruovaním  staršej budovy získali oficiálny 
	"gaming house". Počas našej relatívne krátkej histórie sme sa úspešne zúčastnili množstva turnajov. 
	Medzi najväčšie tímové úspechy patrí dvakrát získané 3. miesto na najväčšom slovenskom turnaji Y-games, ktorý sa 
	zhodou okolností zvykne konať na mojej fakulte. 
	</p>
	
	<div> 
		{% include photogallery.html %}
		{% include videogallery.html %}	
	</div>
</div>
</div>


 
